<!DOCTYPE html>
<html style="background-color: #D3D3D3">
<head>
  <title>
  {{user.name}}'s History
  </title>
      <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
<meta name="author" content="">
<link href="{{ url_for('static', filename='sidebar.css') }}" rel="stylesheet">
  	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  	<!-- Latest compiled and minified CSS --> 
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- jQuery library --> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
	<!-- Latest compiled JavaScript --> 
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
  
</head>

<body>
	<div id="body_stuff">
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
			{% if user == None %}
			<li class="sidebar-brand">
			<a href="{{ url_for('main') }}" class="active">
			Natioks
			</a>
			</li>
			<li>
				<a href="{{url_for('Signin')}}">Sign in</a>
			</li>
			<li>
			<a href="{{url_for('Nationalities') }}">Nationalities </a>
			</li>
			<li>
				<a href="{{ url_for('Genres') }}">Genres</a>
			{%else%}
				<li class="sidebar-brand">
			<a href="{{ url_for('home') }}" class="active">
			Natioks
			</a>
			<li class="sidebar-brand"><a href="#">Welcome back!</a></li>
			</li>
			<li>
			<a href="{{url_for('Nationalities') }}">Nationalities </a>
			</li>
			<li>
				<a href="{{ url_for('Genres') }}">Genres</a>
			</li>
			<li><a href="{{ url_for('history') }} ">History</a></li>
			<li>
				<a href="{{ url_for('settings') }}">
					Settings
				</a>
			</li>
						<li>
				<a href="{{url_for('Signout')}}">Sign out</a>
			</li>
			{% endif %}
			</ul>
		</div>



		<div class="main">

			<center><h1>Book History</h1></center>
			<h4>Latest 5  palestinian books read:</h4>
			<table class="table">
				<tr>
					{% for book in booksp %}
					<td>
					<img src="{{ url_for('static', filename=book.picture) }}" width="115px" height="175px"><br>
						Name: <a href="{{ url_for('book', book_id=book.id) }}">{{book.name}}</a><br>
						Author: <a href="{{ url_for('author', author=book.authorid) }}">{{book.author.name}}<br></a>
						Language: {{book.lang}}
						Genre(s): {% for genre in book.genres %}
					{% if book.genres.index(genre)>0  %}
					,
					{%endif%}
					{{genre.name}}
					{% endfor %}
					</td>
					{%endfor%}
				</tr>
			</table>
			

			<h4>Latest 5 israeli books read:</h4>
			<table class="table">
				<tr>
				{% for book in booksi %}
				<td>
				<img src="{{ url_for('static', filename=book.picture) }}" width="115px" height="175px"><br>
				Name: <a href="{{ url_for('book', book_id=book.id) }}">{{book.name}}</a><br>
				Author: <a href="{{ url_for('author', author=book.authorid) }}">{{book.author.name}}<br></a>
				Language: {{book.lang}}
				Genre(s): {% for genre in book.genres %}
					{% if book.genres.index(genre)>0  %}
					,
					{%endif%}
					{{genre.name}}
					{% endfor %}
				</td>
				{%endfor%}
				</tr>
			</table>
		</div>
	</div>
</body>


</html>
