<!DOCTYPE html>
<html style="background-color: #D3D3D3">
<head>
<head>
  <title>
  Natioks Homepage
  </title>
      <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
<meta name="author" content="">
<link href="{{ url_for('static', filename='sidebar.css') }}" rel="stylesheet">
  	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  	<!-- Latest compiled and minified CSS --> 
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- jQuery library --> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
	<!-- Latest compiled JavaScript --> 
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
  
</head>
  
  
</head>

<body>
	<div id="body_stuff">
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
			<li class="sidebar-brand">
			<a href="{{ url_for('home') }}" class="active">
			Natioks
			</a>
			<li class="sidebar-brand"><a href="#">Welcome back!</a></li>
			</li>
			<li>
			<a href="{{url_for('Nationalities') }}">Nationalities </a>
			</li>
			<li>
				<a href="{{ url_for('Genres') }}">Genres</a>
			</li>
			<li><a href="{{ url_for('history') }} ">History</a></li>
			<li>
				<a href="{{ url_for('settings') }}">
					Settings
				</a>
			</li>
						<li>
				<a href="{{url_for('Signout')}}">Sign out</a>
			</li>
			</ul>
		</div>




		<div class="main">
		<table class="table table-bordered">
			<h3>We think you might like these...</h3>
			<tr>
			{% for book in books %}
			<td>
			<center>
				<img src="{{ url_for('static', filename=book.picture) }}"><br>
				{{ book.name }}<br>
				{{ book.author.name }}<br>
				{{ book.Genres}}
				</center>
				</td>
			{%endfor%}
			</table>
		</div>
	</div>
</body>


</html>
