<!DOCTYPE html>
<html style="background-color: #D3D3D3">
<head>
<head>
  <title>
  Profile Settings
  </title>
      <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
<meta name="author" content="">
<link href="{{ url_for('static', filename='sidebar.css') }}" rel="stylesheet">
  	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  	<!-- Latest compiled and minified CSS --> 
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- jQuery library --> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
	<!-- Latest compiled JavaScript --> 
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
  
</head>
  
  
</head>

<body>
	<div id="body_stuff">
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
			<li class="sidebar-brand">
			<a href="{{ url_for('home', user=user.id) }}" class="active">
			Natioks
			</a>
			<li class="sidebar-brand"><a href="#">Welcome back!</a></li>
			</li>
			<li>
				<a href="{{url_for('Signout')}}">Sign out</a>
			</li>
			<li>
			<a href="{{url_for('Nationalities') }}">Nationalities </a>
			</li>
			<li>
				<a href="{{ url_for('Genres') }}">Genres</a>
			</li>
			<li><a href="{{ url_for('history', user=user.id) }} ">History</a></li>
			</ul>
		</div>




		<div class="main">
			<!-- Text input-->
			<center>
				<div class="row">
					<div class="col-md-8">
						<center><h1>Change Settings</h1></center>

						<hr>
						<form class="form-horizontal" style="vertical-align: 50%;"  action="{{url_for('settings')}}" method="POST">
							
							<div class="form-group">
	  							<label class="col-md-4 control-label" for="name">Name:</label>  
	  							<div class="col-md-4">
	  								<input id="name" name="name" placeholder="Name" class="form-control" type="text" value={{user.name}} required> 
	  							</div>
							</div>
							<div class="form-group">
	  							<label class="col-md-4 control-label" for="email">E-mail:</label>  
	  							<div class="col-md-4">
	  								<input id="email" name="email" placeholder="Email" class="form-control" type="email" value={{user.email}} required> 
	  							</div>
							</div>

							<div class="form-group">
	  							<label class="col-md-4 control-label" for="password">New Password: </label>  
	  							<div class="col-md-4">
	  								<input id="password" name="password" placeholder="Password" class="form-control" type="password" required> 
	  							</div>
							</div>
							<div class="form-group">
	  							<label class="col-md-4 control-label" for="password">Confirm Password: </label>  
	  							<div class="col-md-4">
	  								<input id="password" name="confpassword" placeholder="Password" class="form-control" type="password" required> 
	  							</div>
							</div>
							<div class="form-group">
	  							<label class="col-md-4 control-label" for="dob">Date of Birth: </label>  
	  							<div class="col-md-4">
	  								<input id="day" name="day" placeholder="day" class="form-control" type="number" min="1" max="31" value={{user.dob.day}} required> 
	  								<input id="month" name="month" placeholder="month" class="form-control" type="number" min="1" max="12" value={{user.dob.month}} required>
	  								<input id="year" name="year" placeholder="year" class="form-control" type="number" min="1900" max="2016" value={{user.dob.year}} required>
	  							</div>
							</div>
							<div class="form-group">
	  							<label class="col-md-4 control-label" for="nat">Nationality: </label>  
	  							<div class="col-md-4">
	  								<input id="nat" name="nat" placeholder="Nationality" class="form-control" type="text" value={{user.nat}} required> 
	  							</div>
							</div>
							<center><input type="submit" name="change" class="btn btn-success" value="Change Settings"></center>
						</form>
					</div>
				</div>
		</div>
		</center>
		</div>
	</div>
</body>


</html>
