<!DOCTYPE html>
<html>
<head>
  <title>

  </title>
      <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
<meta name="author" content="">
<link href="static/sidebar.css" rel="stylesheet">
  	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  	<!-- Latest compiled and minified CSS --> 
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- jQuery library --> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
	<!-- Latest compiled JavaScript --> 
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
  
</head>

<body>
	<div id="body_stuff">
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
			<li class="sidebar-brand">
			<a href="{{ url_for('main') }}">
			Natioks
			</a>
			</li>
			<li>
				<a href="{{url_for('Signin')}}" class="active">Sign in</a>
			</li>
			<li>
			<a href="{{url_for('Nationalities') }}">Nationalities </a>
			</li>
			<li>
				<a href="{{ url_for('Genres') }}">Genres</a>
			</li>
			</ul>
		</div>
		<div class="container">
			<!-- Text input-->
			<div>
			<form action="{{ url_for('Signin') }}" method="post" class="form-horizontal">
				<div class="form-group">
  					<label class="col-md-4 control-label" for="email">E-mail:</label>  
  						<div class="col-md-4">
  							<input id="email" name="email" placeholder="E-mail" class="form-control input-md" type="email"> 
  						</div>
				</div>

				<div class="form-group">
  					<label class="col-md-4 control-label" for="password">Password: </label>  
  						<div class="col-md-4">
  							<input id="password" name="password" placeholder="Password" class="form-control input-md" type="password"> 
  						</div>
				</div>
				<div class="form-group">
					<center><label class="control-label"><a href="{{ url_for('signUp') }}">Dont have an account? Sign up now.</a></label></center>
				</div>
				<center><input type="submit" name="submit" class="btn btn-success" value="Log in"></center>
			</form>
			</div>
		</div>
	</div>

</body>


</html>

