<!DOCTYPE html>
<html>
<head>
  <title>

  </title>
  	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  	<!-- Latest compiled and minified CSS --> 
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- jQuery library --> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
	<!-- Latest compiled JavaScript --> 
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
  
</head>

<body>
<form>
	<table>
		<tr>
			<td style="width:60%"></td>
			<td style="width:14%"><input type="email" id="email" name="email" placeholder="Email"></td>
			<td style="width:14%"><input type="password" id="Password" name="Password" placeholder="Password"></td>
			<td style="width:13%"><input type="submit" name="SignIn"  value="Sign In"></td>
		</tr>
	</table>
</form>

</body>


</html>

