<!DOCTYPE html>
<html>
<head>
  <title>
    {{ book.name }}
  </title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  
  
</head>

<body>
<center><h1>{{ book.name }}</h1></center>
<table>
<thead>
<th>Name</th>
<th>Author</th>
<th>Nationality</th>
<th>Language</th>
<th>Type</th>
<th>Rating</th>
</thead>

<tbody>
	<tr>
	<td>
		{{ book.name }}
	</td>
	<td>{{author.name}}</td>
	<td>{{book.nat}}</td>
	<td>{{book.lang}}</td>
	<td>{% if book.type1!="N/A" %}
	{{book.type1}},
	{%endif%}
	{% if book.type2!="N/A" %}
	{{book.type2}},
	{%endif%}
	{% if book.type3!="N/A" %}
	{{book.type3}},
	{%endif%}
	{% if book.type4!="N/A" %}
	{{book.type4}},
	{%endif%}
	{% if book.type5!="N/A" %}
	{{book.type5}}
	{%endif%}
	</td>
	<td>
		{{book.rating}}
	</td>
	</tr>
</tbody>
</table>

</body>


</html>
